= content_tag_for :li, project do
  = link_to project do
    .inner
      .project-thumbnail= image_tag project.cover_image
      .project-name= project
      - if project.fab_space.present?
        .project-fab-space= link_to project.fab_space, project.fab_space
      .project-description= project.blurb
