= content_tag_for :li, project do
  = link_to project do
    .inner
      .project-thumbnail= image_tag project.cover_image
      .project-name= project
      - if project.fab_spaces.any?
        .project-fab-space
          = project.fab_spaces.order(name: :asc).map{|f| link_to(f, f) }.to_sentence.html_safe
      .project-description
        %p= project.blurb
