%ul.breadcrumbs
  %li= link_to "Home", root_path
  %li= link_to "Projects", projects_path
  %li.current= link_to (params[:year] || 2014), projects_path

.row.projects
  .columns.large-12
    .row
      .columns.large-5
        %h1 Projects
      .columns.large-7
        %ul.button-group{style: 'float: right; margin-top: 10px;'}
          %li{class: ('active' if params[:year] != '2013')}= link_to "2014", projects_path(year: 2014), class: 'button'
          %li{class: ('active' if params[:year] == '2013')}= link_to "2013", projects_path(year: 2013), class: 'button'
  .columns.large-12
    .panel
      - if params[:year] == '2013'
        %p Last year the theme was <strong>Urban Farming</strong>. There were projects from Fab Spaces all over the world.
      - else
        %p This year the theme is <strong>‘Mobiquity’</strong> #opensource #mobility #ubiquity #equity #AR #VR #hereandthere! Participants will be able to add projects on this page during the FabJam on Saturday 14th June.



    %ul.large-block-grid-4= render @projects

    - if can? :create, Project
      = link_to "Start a Project", new_project_path, class: 'button pink'
