-# = javascript_include_tag "https://hackpad.com/static/hackpad.js"
-# :javascript
-#   jQuery(function() {
-#     hackpad.render('#pad', 'jIyBGH0PP6r', 'fabjam');
-#   });

-# #pad

-# %iframe{src: 'https://hackpad.com/ep/pad/static/k9bpcEeOo2Q', width: '100%', height: 500}

-# = link_to "https://plus.google.com/hangouts/_/event/ci9s7jhrq9443tc82f6td3f6el8"

-# = instant_hangout topic: @project, hangout_type: 'onair'

%ul.breadcrumbs
  %li= link_to "Home", root_path
  %li= link_to "Projects", projects_path
  %li= link_to @project.year, projects_path(year: @project.year)
  %li.current= link_to @project, @project

.row
  .columns.large-7
    %h1= @project
  .columns.large-5
    %ul.button-group{style: 'float: right'}
      - if can? :update, @project
        %li= link_to "Edit Project", edit_project_path(@project), class: 'button'
      - if can? :destroy, @project
        %li= link_to "Delete Project", project_path(@project), method: :delete, confirm: 'Are you sure you want to delete this project?', class: 'button alert'

  .columns.large-12
    .project-fab-space
      -# %p Created by #{link_to "Neil", "#"} and #{link_to "Chris", "#"} at #{link_to @project.fab_space, @project.fab_space}
    = simple_format(@project.description)
    = image_tag @project.cover_image
