.row
  = image_tag "header.png", id: 'header-image'
  .columns.large-12
    .about
      %h2 JUNE 14ᵀᴴ 2014
      %p
        fabjam is a creative sprint that brings together fabspaces from all over the world<br/> for 24h of fun and digital fabrications around one theme.
        %br/
        It aims to connect fabspaces together and fabspaces<br/> to their local community of users and companies. #{link_to "find out more", about_path}

      %p <a href="#" data-reveal-id="myModal" class="watch">Watch Last Year's Video</a>

    - unless current_user
      #join-us
        .title Join Us
        %ul.large-block-grid-3.small-block-grid-1
          %li
            = link_to new_user_registration_path do
              .register
                = image_tag "icons/house.png"
                %span Register as a Fab Space
          %li.disabled
            .register
              = image_tag "icons/man.png"
              %span Register as a Participant
          %li.disabled
            .register
              = image_tag "icons/building.png"
              %span Register as a Supporter

    #latest-labs
      .title Latest Labs
      %ul.large-block-grid-3.medium-block-grid-2= render @fab_spaces
      = link_to "View All Fab Spaces >", fab_spaces_path, class: 'view-all'

    #latest-projects
      .title.disabled Latest Projects
      %h3 Coming Soon

    #latest-news
      .title Latest News
      %ul#latest-news.large-block-grid-3= render @posts
      = link_to "View All News >", posts_path, class: 'view-all'

    #organisation
      .title Organisation
      .images
        = image_tag "partners/nod-a.png", style: 'min-height: 60px'
        = image_tag "partners/ouishare.png"
        = image_tag "partners/tinktank.png"

    #partners
      .title Partners
      .images
        = image_tag "partners/fab10.png"
        = image_tag "partners/ouish.png", style: 'min-height: 90px'
        = image_tag "partners/oshwa.jpg"
        = image_tag "partners/fabfoundation.png"
        = image_tag "partners/fablabsio.jpg"

    .title Powered By
.stripe#renault= image_tag "partners/renault.png"

#myModal.reveal-modal{data: {reveal: true}}
  .flex-video
    <iframe src="//player.vimeo.com/video/65548332" width="500" height="375" webkitallowfullscreen mozallowfullscreen allowfullscreen border="0" style="border: none;"></iframe>
