.row
  = image_tag "header.png", id: 'header-image'
  .columns.large-12
    .about
      %h2 JUNE 14ᵀᴴ 2014
      %p
        fabjam is a creative sprint that brings together fabspaces from all over the world<br/> for 24h of fun and digital fabrications around one theme.
        %br/
        It aims to connect fabspaces together and fabspaces<br/> to their local community of users and companies. #{link_to "find out more", about_path}

      %p <a href="#" data-reveal-id="myModal" class="watch">Watch Last Year's Video</a>

    - unless current_user
      .title Join Us
      %ul.large-block-grid-3
        %li
          .register
            %span Register as a Fab Space
        %li
          .register
            %span Register as a Participant
        %li
          .register
            %span Register as a Supporter

    #latest-labs
      .title Latest Labs
      %ul.large-block-grid-3= render @fab_spaces
      = link_to "View All Labs >", fab_spaces_path, class: 'view-all'

    .title.disabled Latest Projects
    %h3 Coming Soon

    .title Latest News
    %ul#latest-news.large-block-grid-3= render @posts

    .title Organisation
    %ul.large-block-grid-3
      %li= image_tag "partners/nod-a.png"
      %li= image_tag "partners/ouishare.png"
      %li= image_tag "partners/tinktank.png"

    .title Partners
    %ul.large-block-grid-5
      %li= image_tag "partners/fab10.png"
      %li= image_tag "partners/ouish.png"
      %li= image_tag "partners/oshwa.jpg"
      %li= image_tag "partners/fabfoundation.png"
      %li= image_tag "partners/fablabsio.jpg"

    .title Powered By

.stripe#renault= image_tag "partners/renault.png"

#myModal.reveal-modal{data: {reveal: true}}
  .flex-video
    <iframe src="//player.vimeo.com/video/65548332" width="500" height="375" webkitallowfullscreen mozallowfullscreen allowfullscreen border="0" style="border: none;"></iframe>