
.row
  .columns.large-12
    %h1 Hello #{current_user.email}
    %p What would you like to do?

    %ul
      %li= link_to "Add a Fab Space", new_fab_space_path, class: 'button'
      %li= link_to "Edit your Details", edit_user_registration_path, class: 'button'

      %li= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'button alert'

      %li
        %h5 Coming Soon...
      %li= link_to "Start a Project", '#', class: 'button disabled'
      %li= link_to "Join a Project", '#', class: 'button disabled'
      %li= link_to "Add an Organisation", '#', class: 'button disabled'

