= simple_form_for @post do |f|
  = f.input :name
  -# = f.input :slug
  = f.input :body
  = f.input :image_url, input_html: { class: 'fp' }
  = f.input :published_at, as: 'datetime', label: 'Publish at', hint: "Set it to a future date for posts that aren't ready to go live yet", minute_step: 10
  .actions
    = f.submit class: 'button'
