%ul.breadcrumbs
  %li= link_to "Home", root_path
  %li.current= link_to "News", posts_path

.row
  .columns.large-12
    = title "News"
    %ul#latest-news.large-block-grid-3= render @posts

    - if can? :create, Post
      = link_to "New Post", new_post_path, class: 'button'