%ul.breadcrumbs
  %li= link_to "Home", root_path
  %li= link_to "News", posts_path
  %li.current= link_to @post, @post

.row
  .columns.large-12
    = title @post
    .post-details
      by #{@post.author} #{@post.published_at.stamp('at 20:57 on Wednesday, 2nd July 1999')}
    %p= image_tag @post.image_url, id: 'main-image'
    = @post.body.html_safe

    - if can? :manage, @post
      = link_to "Edit Post", edit_post_path(@post), class: 'button'
      = link_to "Delete Post", @post, method: :delete, class: 'button alert'

.row.pagination
  .columns.small-6
    - if @post.prev
      = link_to "#{fa_icon 'arrow-left'} #{@post.prev}".html_safe, @post.prev
  .columns.small-6.text-right
    - if @post.next
      = link_to "#{@post.next} #{fa_icon 'arrow-right'}".html_safe, @post.next


