.row
  .columns.large-12
    = simple_form_for fab_space do |f|
      - if f.object.errors.any?
        .alert-box.alert
          %ul
            - f.object.errors.messages.each do |error|
              %li #{error[0].to_s.humanize} #{error[1].to_sentence}

      %fieldset
        %legend Fab Space Details
        = f.input :name
        = f.input :description, input_html: { rows: 4 }, hint: "A brief description of your Fab Space, what it specialises in etc."
        = f.input :logo_url, input_html: { class: 'fp', data: { fp_store_location: 'S3', fp_store_path: 'uploads/logos/', fp_store_container: ENV['S3_BUCKET'] } }
        = text_field_tag :geocomplete, "", id: 'geocomplete', data: { latlng: "#{fab_space.lat},#{fab_space.lng}"}
        .row
          .columns.large-7
            #geocomplete-map
          .columns.large-5
            = f.input :address, input_html: { rows: 8, "data-geo" => "formatted_address" }
            = f.input :country_code, as: 'country', label: 'Country', iso_codes: true, input_html: { "data-geo" => "country_short" }
            -# = f.input :country_code, label: 'Country', input_html: { "data-geo" => "country_short" }
            = f.input :lat, input_html: { "data-geo" => "lat" }, as: 'hidden'
            = f.input :lng, input_html: { "data-geo" => "lng" }, as: 'hidden'
        %br/
        = f.input :urls, hint: 'Links, please seperate with new lines', input_html: { rows: 5 }

      %fieldset
        %legend Fab Jam Availability Details
        .panel
          %p Please tell us the number of people that your Fab Space can host on <strong>Saturday 14th June 2014</strong>. These figures are just guidelines and can be changed at any time. Organisations will be asked to pay €500, of which your lab will receive 60%, €300.
        .row
          .columns.large-6
            %p
              = f.label :max_participants
              %span.count
              .slider
              = f.input_field :max_participants, as: :hidden
          .columns.large-6
            %p
              = f.label :max_organisations, label: false
              %span.count
              .slider
              = f.input_field :max_organisations, as: :hidden

      = f.submit class: 'button'
