= render "header"
.row
  .columns.large-12
    %ul
      - @fab_spaces.each do |fab_space|
        = content_tag_for :li, fab_space do
          = link_to fab_space, fab_space

    - if can? :create, FabSpace
      = link_to "Add your Fab Space", new_fab_space_path, class: "button #{'disabled' unless can? :create, FabSpace}"
