%ul.breadcrumbs
  %li= link_to "Home", root_path
  %li= link_to 'Fab Spaces', fab_spaces_path
  %li.current= link_to @fab_space, @fab_space

.row
  .columns.large-12
    = title @fab_space

    .row{style: 'margin-bottom: 20px'}
      .columns.large-2
        = image_tag @fab_space.logo_url
        -# = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@fab_space.coordinates}&zoom=13&size=180x180&maptype=roadmap&sensor=false"

      .columns.large-10
        - if can? :manage, @fab_space
          = link_to "Edit", edit_fab_space_path(@fab_space), class: 'button'

        - if current_user
          - if current_user.joined? @fab_space
            = link_to "Leave this Fab Space", leave_fab_space_path(@fab_space), class: 'button'
          - else
            = link_to "Apply to join this Fab Space", join_fab_space_path(@fab_space), class: 'button pink'

        .fab-space-description= simple_format @fab_space.description

    %ul
      - @fab_space.links.each do |link|
        %li= link_to link, link

    - if @fab_space.members.any?
      #h3 Applied to Join
      %ul.members
        - @fab_space.members.each do |member|
          %li= member.user


-# .stripe
-#   .row
-#     .columns.large-12
-#       %dl.sub-nav
-#         %dt Projects by Year:
-#         %dd.active= link_to "2014", "#"
-#         %dd= link_to "2013", "#"
-#       %ul.large-block-grid-4.fab-space-projects= render @fab_space.projects

